<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoinsJar.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CoinsJar.Tests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="mailSettings">
      <section name="smtp" type="System.Net.Configuration.SmtpSection" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CoinsJarWebApiEntities" connectionString="metadata=res://*/DataContext.CoinsJarWebApiModel.csdl|res://*/DataContext.CoinsJarWebApiModel.ssdl|res://*/DataContext.CoinsJarWebApiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BoodleSql;initial catalog=CoinsJarWebApi;user id = boodleuser;password =b00d13@dm!n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoinsJarEntities" connectionString="metadata=res://*/DataContext.BoodleModel.csdl|res://*/DataContext.BoodleModel.ssdl|res://*/DataContext.BoodleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.0.49\Boodle_Dev;user id=boodle;password=b00d13@dm!n;initial catalog=CoinsJar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoodleWebEntities" connectionString="metadata=res://*/DataContext.BoodleWebModel.csdl|res://*/DataContext.BoodleWebModel.ssdl|res://*/DataContext.BoodleWebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.0.49\Boodle_Dev;user id=boodle;password=b00d13@dm!n;initial catalog=BoodleWeb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BrumaEntities" connectionString="metadata=res://*/DataContext.BrumaModel.csdl|res://*/DataContext.BrumaModel.ssdl|res://*/DataContext.BrumaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.0.49\Boodle_Dev;user id=boodle;password=b00d13@dm!n;initial catalog=Bruma;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoinsJarWebStateTestDataManagementEntities" connectionString="metadata=res://*/TestData.CoinsJarTestData.csdl|res://*/TestData.CoinsJarTestData.ssdl|res://*/TestData.CoinsJarTestData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BoodleSql;initial catalog=CoinsJarWebStateTestDataManagement;user id = boodleuser;password =b00d13@dm!n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoinsJarLimitlessCacheEntities" connectionString="metadata=res://*/DataContext.CoinsJarLimitlessCache.csdl|res://*/DataContext.CoinsJarLimitlessCache.ssdl|res://*/DataContext.CoinsJarLimitlessCache.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BoodleSql;initial catalog=CoinsJarLimitlessCache;user id=boodleUser;password=b00d13@dm!n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBoodleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1773/Services/Boodle.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoodleService" contract="BoodleSvc.IBoodleService" name="BasicHttpBinding_IBoodleService" />
    </client>
  </system.serviceModel>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="CoinsJar.WebApi.AboutBox.IAboutBoxOrchestrations, CoinsJar.WebApi.Contracts" mapTo="CoinsJar.WebApi.AboutBox.AboutBoxOrchestrations, CoinsJar.WebApi.Orchestrations" />
      <register type="CoinsJar.WebApi.Adapters.IWebApiStateAdapter, CoinsJar.WebApi.Adapters.Contracts" mapTo="CoinsJar.WebApi.Adapters.WebApiStateAdapter, CoinsJar.WebApi.Adapters" />
      <register type="CoinsJar.WebApi.Adapters.IWebApiVersionAdapter, CoinsJar.WebApi.Adapters.Contracts" mapTo="CoinsJar.WebApi.MvcApiVersionAdapter, CoinsJar.WebApi" />
      <register type="CoinsJar.WebApi.Adapters.IApplicationServiceAdapter, CoinsJar.WebApi.Adapters.Contracts" mapTo="CoinsJar.WebApi.Adapters.ApplicationServiceInProcAdapter, CoinsJar.WebApi.Adapters" />
      <register type="CoinsJar.WebApi.SubmitApplications.ISubmitApplicationOrchestration, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.SubmitApplications.SubmitApplicationOrchestration, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.DocumentationUploads.IDocumentationUploadsOrchestration, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.DocumentationUploads.DocumentationUploadsOrchestration, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IDocumentationUploadsAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.DocumentationUploads.DocumentationUploadsAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IPerformanceCountersAdapter, CoinsJar.WebApi.Adapters.Contracts" mapTo="CoinsJar.WebApi.Adapters.PerformanceCounters.PerformanceCountersAdapter, CoinsJar.WebApi.Adapters" />
      <register type="CoinsJar.WebApi.MasterData.IMasterDataOrchestrations, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.MasterData.MasterDataOrchestrations, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.DocumentationUploads.IDocumentationUploadsOrchestration, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.DocumentationUploads.DocumentationUploadsOrchestration, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.SubmitApplications.ISubmitApplicationOrchestration, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.SubmitApplications.SubmitApplicationOrchestration, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Profiles.IProfileOrchestrations, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Profiles.ProfileOrchestration, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IProfileAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.Profiles.ProfileAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.ISmsAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.SmsAdapters.StrikeMediaSmsAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IDocumentationUploadsAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.DocumentationUploads.DocumentationUploadsAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.ISubmitApplicationAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.SubmitApplications.SubmitApplicationsAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IEmailAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.EmailAdapters.FileSystemEmailAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Validation.IEmailAddressValidator, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.EmailAddressValidator, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Validation.IIdentityNumberValidator, CoinsJar.WebApi.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.IdentityNumberValidator, CoinsJar.WebApi.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IMasterDataAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.MasterDataAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.ICDVAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.CDVAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IWebApiStateAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.WebApiStateAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IWebApiVersionAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.MvcApiVersionAdapter, CoinsJar.WebApi, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IApplicationServiceAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.ApplicationServiceInProcAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.IPerformanceCountersAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.PerformanceCounters.PerformanceCountersAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.WebApi.Adapters.ICommunicationTemplateAdapter, CoinsJar.WebApi.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="CoinsJar.WebApi.Adapters.CommunicationTemplates.CommunicationTemplateAdapter, CoinsJar.WebApi.Adapters, Version=1.0.0.0, Culture=neutral" />
      <register type="CoinsJar.IBoodleOrchestration, CoinsJar.Contracts" mapTo="CoinsJar.BoodleOrchestration, CoinsJar.Orchestrations" />
      <register type="CoinsJar.Adapters.IBoodleWebAdapter, CoinsJar.Adapters.Contracts" mapTo="CoinsJar.Adapters.BoodleWebAdapter, CoinsJar.Adapters" />
      <register type="CoinsJar.Adapters.IBoodleServicesAdapter, CoinsJar.Adapters.Contracts" mapTo="CoinsJar.Adapters.BoodleServicesAdapter, CoinsJar.Adapters" />
      <register type="CoinsJar.Adapters.IBrumaAdapter, CoinsJar.Adapters.Contracts" mapTo="CoinsJar.Adapters.BrumaAdapter, CoinsJar.Adapters" />
      <register type="CoinsJar.IBoodleServicesOrchestration, CoinsJar.Contracts" mapTo="CoinsJar.BoodleServicesOrchestration, CoinsJar.Orchestrations" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <mailSettings>
    <smtp deliveryMethod="Network" from="noReply@boodle.co.za">
      <network host="10.11.4.58" port="25" />
    </smtp>
  </mailSettings>
  <applicationSettings>
    <CoinsJar.Tests.Properties.Settings>
      <setting name="DeclineStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="PreApprovedStatus" serializeAs="String">
        <value>18</value>
      </setting>
    </CoinsJar.Tests.Properties.Settings>
  </applicationSettings>
  </configuration>